{% extends "base.html" %} {% block title %} Edit answers {% endblock %}
{%block content %}

<script>
    document.getElementsByTagName ('body')[0].style.height = "auto"
    document.getElementsByTagName ('body')[0].style.width = "auto"
</script>

<button class="btn btn-outline-info" onclick ="editQuestions ({{question.quiz_id}})">Back to questions</button>
<h1 class="msd quiztitles">Question: {{question.content}}</h1>
<h2>Answers</h2>
<div class="d-flex flex-column">
{% for answer in answers %}
    <form class="border border-dark m-3 p-3 rounded quiz" method="POST">
        <h3 class="quiztitles">{{answer.content}}</h3>
        <input type="text" class="form-control w-100 edit_content" name="edit_content" value="{{answer.content}}" id ="edit_content">
        <button class="btn btn-outline-success submit_content btn-block mt-1" id ="submit_content" onclick="updateAnswer ({{answer.question_id}},{{answer.id}}, {{loop.index}})">Submit</button>
        <div class="buttonset">

            {%if answer.correct%}
            <button class = "btn btn-success status_button m-1 mr-2" onclick ="statusButton ({{loop.index}}, {{question.id}}, {{answer.id}})">Correct</button>
            {%else%}
            <button class = "btn btn-danger status_button m-1 mr-2" onclick ="statusButton ({{loop.index}}, {{question.id}}, {{answer.id}})">Wrong</button>
            {%endif%}
        
        <button class="btn btn-outline-info edit_answer_button btn-block m-1" onclick="editAnswerClick ({{loop.index}})">Edit answer</button>
        
        <button class="btn btn-outline-danger delete_answer_button btn-block m-1" onclick ="deleteAnswer({{question.id}},{{answer.id}})">Delete</button>
        </div> 
    </form> 
    <script>defaultEditAnswersSettings ({{loop.index}})</script>
{%endfor%}
</div>
    <form action="" class ="w-100 p-3" method="post" id="addAnswerForm">
        <input type="text" class="form-control w-100" name="new_answer" placeholder="My answer">
        <button type="submit" class="btn btn-outline-success mt-2 btn-block">Add new answer</button>
        
    </form>

{% endblock %}


          