{% extends "base.html" %} {% block title %} Edit questions {% endblock %}
{%block content %}

<script>
    document.getElementsByTagName ('body')[0].style.height = "auto"
    document.getElementsByTagName ('body')[0].style.width = "auto"
</script>

<div style="position: relative; width: 100%; display: flex; justify-content: center;">
    <h1 class="msd quiztitles">Quiz: {{quiz_name}}</h1>
    <button class="btn btn-success" style = "position: absolute; right: 0; top: 0; margin-top: 10px; margin-left: 15px; margin-right: 15px;" onclick="goToConstructor({{quiz_id}})">Constructor</button>
</div>
<h2>Questions</h2>

<div class="d-flex flex-column">
{% for question in questions %}
    <form class="border border-success m-3 p-3 rounded quiz" method="POST">
        <h3 class="quiztitles">{{question.content}}</h3>
        <input type="text" class="form-control w-100 edit_content" name="edit_content" value="{{question.content}}" id ="edit_content">

        <button class="btn btn-outline-success submit_content btn-block mt-1" id ="submit_content" onclick="updateQuestion ({{question.quiz_id}},{{question.id}}, {{loop.index}})">Submit</button>
        <div class="buttonset">
        
        <button class="btn btn-outline-dark m-1 edit_answers_button btn-block mr-2" onclick = "goToAnswers ({{question.id}})">Edit answers</button>
        <button class="btn btn-outline-info m-1 edit_question_button btn-block" onclick="editQuestionClick ({{loop.index}})">Edit question</button>
        <button class="btn btn-outline-danger m-1 delete_question_button" onclick ="deleteQuestion({{question.quiz_id}},{{question.id}})">Delete</button>
        </div> 
    </form> 
    <script>defaultEditQuestionsSettings ({{loop.index}})</script>
{%endfor%}
</div>

    <form action="" class ="w-100 p-3" method="post" id="addquestionform">
        <input type="text" class="form-control w-100" name="new_question" placeholder="My question">
        <button type="submit" class="btn btn-outline-success mt-2 btn-block">Add new question</button>
        
    </form>

{% endblock %}


          