{% extends "base.html" %} {% block title %} Edit questions {% endblock %}
{%block content %}

<script>
    document.getElementsByTagName ('body')[0].style.height = "auto"
    document.getElementsByTagName ('body')[0].style.width = "auto"
</script>


<h1 class="msd">Quiz: {{quiz_name}}</h1>
<h2>Questions</h2>
{% for question in questions %}
    <form class="border border-success m-3 p-3 rounded quiz" method="POST">
        <h3>{{question.content}}</h3>
        <input type="text" class="form-control w-100 edit_content" name="edit_content" value="{{question.content}}" id ="edit_content">
        <div class="buttonset">
        <button class="btn btn-outline-success m-1 submit_content" id ="submit_content" onclick="updateQuestion ({{question.quiz_id}},{{question.id}}, {{loop.index}})">Submit</button>
        <button class="btn btn-outline-info m-1 edit_question_button " onclick="editQuestionClick ({{loop.index}})">Edit question</button>
        <button class="btn btn-outline-info m-1 edit_answers_button" onclick = "goToAnswers ({{question.id}})">Edit answers</button>
        <button class="btn btn-outline-danger m-1 delete_question_button" onclick ="deleteQuestion({{question.quiz_id}},{{question.id}})">Delete</button>
        </div> 
    </form> 
    <script>defaultEditQuestionsSettings ({{loop.index}})</script>
{%endfor%}

    <form action="" class ="w-100 p-3" method="post">
        <input type="text" class="form-control w-100" name="new_question" placeholder="My question">
        <button type="submit" class="btn btn-outline-success mt-2 btn-block">Add new question</button>
        
    </form>

{% endblock %}


          