{% extends "base.html" %} {% block title %} Login {% endblock %}
{%block content %}
        <form action="" method="POST">

        <label for="email" class="mt-1">Email address</label>
        <input type="text" name="email" class="form-control" id="email" placeholder="example@example.com" {%if entered_email %} value='{{entered_email}}'{%endif%}>
        <label for="password" class="mt-1">Password</label>
        <input type="password" name="password" class="form-control" id="password">
        <button type="submit" class="btn btn-primary btn-lg btn-block mt-2 ">Login</button>
        </form>
{%endblock%}