{% extends "base.html" %} {% block title %}Manage quizzes{% endblock %}
{%block content %}
<script>
    document.getElementsByTagName ('body')[0].style.height = "auto"
    document.getElementsByTagName ('body')[0].style.width = "auto"
   
    </script>
<h3>Hello, {{user.nickname}}</h3>
<h1 class="msd">Manage quizzes</h1>

{% for quiz in user.quizzes %}
    <form class="border border-info m-3 p-3 rounded quiz" method="POST" >
        <div class="row-with-results">
        <h4 class="quiztitles">{{quiz.title}}</h4>
        <button type="button" class="btn btn-success btn-block resultsButton ml-4" onclick="goToQuizResults ({{quiz.id}})">Results</button>

        </div>

        <input type="text" class="form-control w-100 edit_name mt-2" name="edit_quizname" value="{{quiz.title}}" id ="edit_name">
        <div class = "m-1"><label for="quiz_id">Quiz id:</label><input type="text" class ="form-control" name="quiz_id" value="{{quiz.id}}" readonly></div>
        <button class="btn btn-outline-success submit_name btn-block mb-1 mt-1" id ="submit_name" onclick="">Submit</button>
        <div class="buttonset">
        <button class="btn btn-outline-success m-1 editquestions-button" onclick = "editQuestions({{quiz.id}})">Edit questions</button>

        <button class="btn btn-outline-info m-1 editname_button" onclick ="editNameClick ({{loop.index}})" id="editname_button">Edit name</button>
        <button class="btn btn-outline-danger m-1 delete_button " onclick ="deleteQuiz ({{quiz.id}})">Delete</button>
        </div> 
    
    </form>
    <script>defaultManageSettings ({{loop.index}})</script>
    {%endfor%}


<form action="" class ="w-100 p-3" method="post" id ="quizaddform">
    <input type="text" class="form-control w-100" name="quizname" placeholder="My quiz">
    <button type="submit" class="btn btn-outline-success mt-2 btn-block">Add new quiz</button>
    
</form>





{% endblock %}


          